
* {
    font-family: 'Gantari', sans-serif;
    margin: 0px;
}

body {
    background-color: #101010;
    height: 6810px;
    overflow-x: hidden;
}

p {
    color: #F2F2F2;
}


.space_between {
    margin-top: 320px;
}

.first_wrapper {
    width: 100%;
    height: 920px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-image: url(/img/bgs/first_screen-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.first_screen {
    width: 1920px;
    height: 100%;
    position: absolute;
}


.logo {
    padding-top: 40px;
    padding-left: 128px;
}

.myname {
    font-size: 128px;
    position: absolute;
    bottom: -15px;
    left: 10px;
}

.go-button {
    border: 1px solid #4D4D4D;
    width: 184px;
    height: 184px;
    border-radius: 50%;
    position: absolute;
    right: 132px;
    bottom: 50px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.go-indicator p {
    margin-bottom: 15px;
}

.go-indicator {
    margin-top: 15px;
    width: 43px;
    height: 64px;
    font-size: 16px;
}

.introduction {
    width: 1920px;
    height: 1140px;
    position: relative;
}

.introduction p {
    left: 125px;
    top: 512px;
    position: absolute;
    width: 1670px;
    text-align: center;
    font-size: 24px;
}